@model  test.Database.QueueDbModel
<tbody>
    <tr>
        <th>Priority</th>
        <th>Member</th>
    </tr>
    @foreach (var UserQueue in Model.UsersQueues)
    {
        <tr>
            <td>@UserQueue.Priority</td>
            <td>
                @UserQueue.User.UserName
           @if (User.Identity.Name == Model.Author.UserName || User.Identity.Name == Model.Teacher.UserName || User.IsInRole(RoleTypes.Admin))
            {
                <button onclick="DeleteFromQueue('@UserQueue.User.UserName')">remove</button>
                <button onclick="ChangePriority('@UserQueue.User.UserName')">priority</button>
            }
        </td>
    </tr>
    }
</tbody>