@using test.Database
@model test.Database.ApplicationContext

@{
        QueueDbModel Queue = Model.Queues.Find((int)ViewData["Id"]);
        string content = "";
        content += "<ul>";
        content += "<li>Teacher - " + Queue.TeacherName + "</li>" +
            "<li>Outhor - " + Queue.OuthorName + "</li>";

        foreach (string Name in Queue.UsersName)
        {
            content += "<li>" + Name + "</li>";
        }
        content += "</ul>";
}
@content


