@using test.Database
@model test.Database.QueueDbModel
@{
    ViewData["Title"] = "QView";
}


<p>Queue - @Model.Name</p>
<p>Short discription : @Model.About</p>
<p>Model - @Model.Priority</p>

<div id="Queue">
</div>

<button onclick="ViewQueue()">hub</button>


<script>
function ViewQueue() {
$.ajax({
        url: '/Queue/Index?Id=@Model.Id',
    success: function (data) {
        document.getElementById("Queue").innerHTML = data;
    }
});
}
</script>
