@model test.ViewModels.SearchModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["CurrentTab"] = 1;
}

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        <select class="custom-select" size="2" style="width: 10vw;" asp-for="Type" name="Type">
            <option value="Queue">Queue</option>
            <option value="User">User</option>
        </select>
        Title: <input type="text" name="Search">
        <input type="submit" value="Filter" />
    </p>
</form>

<!--if (Model.Type == "User")
{
    <table class="table">
        <tr><th>Name</th></tr>
        foreach (var U in Model.Users)
        {
            <tr><td><a href="/Account/UserPage?Name=U.UserName">U.UserName</a></td></tr>
        }
    </table>
}
else if (Model.Type == "Queue")
{
    <table class="table">
        <tr><th>Title</th><th>Priority</th><th>Number of users</th></tr>
        foreach (var Q in Model.Queues)
        {
            <tr><td><a href="/Queue/QView?Id=Q.Id">Q.Name</a></td><td>Q.Priority</td><td>Q.UsersName.Count()</td></tr>
        }
    </table>
}
-->