@model test.ViewModels.SearchModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        <select asp-for="Type" name="searchType">
            <option value="Queue">Queue</option>
            <option value="User">User</option>
        </select>
        Title: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>

@if (Model.Type == "User")
{
    <table>
        <tr><th>Name</th></tr>
        @foreach (var U in Model.Users)
        {
            <tr><td>@U.UserName</td></tr>
        }
    </table>
}
else if (Model.Type == "Queue")
{
    <table>
        <tr><th>Title</th><th>Priority</th><th>Number of users</th></tr>
        @foreach (var Q in Model.Queues)
        {
            <tr><td>@Q.Name</td><td>@Q.Priority</td><td>@Q.UsersName.Count()</td></tr>
        }
    </table>
}