@model List<test.Services.QueueService>
    @{
        ViewData["Title"] = "Privacy Policy";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

    <p id="out">text </p>
    <button onclick="myFunction()">Try it</button>

    <script>
        function myFunction() {
            var p;
            p = document.getElementById("out");
            p.innerHTML += "hello, ";
            setTimeout(myFunction, 1000);
        }
    </script>

