/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* my styles 
---------------------------------------------------*/
.container{
    margin-top: 10px;
}

.nav-table a:hover {
    background-color: #bbbbbb;
}

.invalid {
    color: #ff0000;
}

pre {
    white-space: pre-wrap;
    margin-bottom: 0;
}

/* CHAT styles  
-------------------------------------------------*/

#inputForm input{
    margin-top: 18px;
    vertical-align: top;
}

#message {
    height: 9vh;
    width: 60%;
    resize: none;
}

#inputForm {
    margin: 5px;
}

.chat-main-block{
    height: 80vh;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

.message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    text-align: left;
    word-wrap: break-word;
}

.message p{
    margin: 0;
    padding: 0;
}

.message-time{
    float: right;
    font-size: 12px;
    color: #9d5c00;
}

#chatroom {
    height: 93%;
    padding: 0 10px 0 10px;
    border: 3px solid #457f6f;
    border-radius: 10px;
    background-color: #92b1af;
    overflow-y: scroll; 
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 40px; /* Vertically center the text there */
}

.nav-table {
    float: left;
    margin-left: 10%;
}
.navDiv{
    height: 41.6px;
}

.regTable{
    float: right;
    margin-right: 2%;
}